# Fichiers temporaires
*~
*.pyc
*.pyo
**/__pycache__/

# Fichiers environnement
.directory


# Points de reprise IPython
.ipynb_checkpoints


# Résultats de tests d'exécution
/applications/villes_france.csv
/applications/villes_clean.csv
/applications/figure.png

# fichiers en écriture du chapitre 5
out_*.txt